// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


@font-face {font-family: "Brandon";
  src: url("../assets/fonts/Brandon.eot"); /* IE9*/
  src: url("../assets/fonts/Brandon.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../assets/fonts/Brandon.woff2") format("woff2"), /* chrome、firefox */
  url("../assets/fonts/Brandon.woff") format("woff"), /* chrome、firefox */
  url("../assets/fonts/Brandon.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("Brandon.svg#Brandon Text W01 Light") format("svg"); /* iOS 4.1- */
}

* {
	font-family: "Brandon";
	letter-spacing: 2px;
	text-transform: uppercase;

}

.clearfix {
	clear: both;
}

//ion-app {
//	background-color: #0f698d;
//}
.content-md {
	background-color: #5396b1;
}

.button-md {
	background-color: #55c1c1;
}

#side-menu .item-md {
	background-color: #0f698d;
}

.custom {
	background-color: #0f698d !important;
}

#side-menu .list-md .item-block .item-inner {
	border-bottom: 1px solid #5396b1 !important;
}

.button-md {
	box-shadow: none;
	border-radius: 20px;
}

.item-md {
	padding-left: 0;
	background-color: #5396b1;
}

.item-md.item-block .item-inner {
	padding-left: 8px;
}

//Prediksi (Page1)
.item-md {
	background-color: #5396b1;
}

.list-md .item-block .item-inner {
	border-bottom: 1px solid #79bcd7;
}

.Page1 h2, .Page1 h3 {
	text-align: center;
}

.Page1 .date {
	margin-top: 5px;
	float: left;
}

.Page1 .btn-share {
	float: right;
	padding: 5px 10px;
}

.Page1 .score {
	padding: 10px;
	margin: 0 auto !important;
	width: 100px;
	display: block;
	border: 1px solid #79bcd7;
	border-radius: 20px;
}

.Page1 .win {
	font-size: 1.5em;
	font-weight: bold;
}

//Standings (Page2)
#standings-head ion-col {
	padding: 15px 5px;
	background-color: #0f698d;
}

.standings-row:nth-child(even) {
	background-color: #55c1c1;
}

.icon-flag {
	background: transparent;
}

.icon-flag ion-img {
	background: transparent;
}

//News (Page3)
.Page3 .item-md h2 {
	font-weight: bold;
}

.Page3 .item-md p {
	color: #fff;
}

.Page3 .list-md .item-block .item-inner {
	margin: 0 20px;
}

//Post-details
ion-card-content {
	background-color: #5396b1;	
}

ion-card {
	box-shadow: none !important;
}

ion-card-content p {
	text-transform: none;
	font-size: 1.5em;
}

//Scrollable
.wide-as-needed {
  overflow: scroll;
  white-space: nowrap;
}
.scroll { 
  min-width: 100%;
}